/* this file is for things that add personalization specific to me or cassie */

/*#region*/ /* mochie home & load icon */
:is(div[aria-label="Direct Messages"], video[data-testid="app-spinner"] + div)::before {
  content: '';
  background-image: url('https://cdn.discordapp.com/avatars/1043599230247374869/e2caa74efc5500f0bad8b36f9b3fa56e.webp?size=1024') !important;
  background: center/contain no-repeat;
}
div[aria-label="Direct Messages"] {
  visibility: hidden;
  position: relative;
  &::before {
    visibility: visible;
    content: '';
    position: absolute;
    inset: 0;
  }
}
video[data-testid="app-spinner"] {
  display: none;
  & + div::before {
    width: 100%;
    height: 160px;
    margin-bottom: 1rem;
    display: block;
  }
}
/*#endregion*/

/* mochie colored mochie */
li[data-author-id="1043599230247374869"] h3 span[class^=username] {
  color: #05afff;
}
/* cassie colored cassie and dm */
li[data-author-id="280411966126948353"] h3 span[class^=username],
a[href="/channels/@me/1289968073025257505"] div[class^="overflow_"]
{
  color: #e700ff;
}

/* better background color for myself vc */
div[data-selenium-video-tile="1043599230247374869"] div[class^="background_"] {
  background-color: #0c0610 !important;
}