/**
* @name moCassie
* @author mochienya
* @version 1.0
* @description things that add personalization specific to me or cassie
*/


/*#region*/ /* mochie home & load icon */
:is(div[aria-label="Direct Messages"], video[data-testid="app-spinner"] + div)::before {
  content: '';
  background-image: url('https://files.catbox.moe/hgwfsc.png') !important;
  background: center/contain no-repeat;
}
div[aria-label="Direct Messages"] {
  visibility: hidden;
  position: relative;
  &::before {
    visibility: visible;
    content: '';
    position: absolute;
    inset: 0;
  }
}
video[data-testid="app-spinner"] {
  display: none;
  & + div::before {
    width: 100%;
    height: 160px;
    margin-bottom: 1rem;
    display: block;
  }
}
/*#endregion*/

/* better background color for myself vc */
div[data-selenium-video-tile="1043599230247374869"] div[class^="background_"] 
{ background-color: #0c0610 !important }
/* same thing for cassie */
div[data-selenium-video-tile="280411966126948353"] div[class^="background_"]
{ background-color: #8f13ad !important }

/* no pip for myself vc */
div[class^="pictureInPictureWindow"] div[class^="wrapper_"]:has(
  > div[data-selenium-video-tile="1043599230247374869"]) {display: none;}
