/**
* @name mochieFonts
* @author mochienya
* @version 1.0
* @description code font i like (mochie font is a custom iosevka font)
*/

@font-face {
  font-family: "Mochie";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("https://files.catbox.moe/6wrrgg.woff2") format("woff2"), url('https://files.catbox.moe/s5waog.ttf') format('truetype');
}
:root {
  --font-code: "Mochie"
}
